<div id="book-details">
    <h1>{{book.title | uppercase}}</h1>

    <div id="book">
        <div id="book-img">
            <img src="{{book.cover}}" alt="{{book.title}}">
        </div>

        <div id="book-info">
            <h3>Author(s)</h3>
            <p>{{book.author}}</p>
            <h3>Pages</h3>
            <p>{{book.pages}}</p>
            <h3>Price</h3>
            <p>{{book.price}}</p>
            <h3>Description</h3>
            <p>{{book.description}}</p>

            <!-- <button *ngIf="isLoggedIn && !isLiked(book)" type="button" class="btn-like" (click)="likeBook()">Like: {{book.likes.length}}</button> -->
            <!-- <button *ngIf="isLoggedIn && isLiked(book)" type="button" class="btn-dislike" (click)="dislikeBook()">Dislike: {{book.likes.length}}</button> -->
        </div>
    </div>

    <div *ngIf="isLoggedIn && isOwner" id="btns">
        <button class="btn-edit" routerLink="/catalog/{{book._id}}/edit">Edit</button>
        <button class="btn-delete">Delete</button>
    </div>
</div>