<div id="book-details">
    <h1>{{book.title | uppercase}}</h1>

    <div id="book">
        <div id="book-img">
            <img src="{{book.cover}}" alt="{{book.title}}">
        </div>

        <div id="book-info">
            <h3>Author(s)</h3>
            <p>{{book.author}}</p>
            <h3>Pages</h3>
            <p>{{book.pages}}</p>
            <h3>Price</h3>
            <p>{{book.price}}</p>
            <h3>Description</h3>
            <p>{{book.description}}</p>

            <div id="likes-section">
                <div class="btn" *ngIf="isLoggedIn && !isOwner">
                    <button class="btn-like" (click)="likeBook()">Like</button>
                </div>

                <div class="likes-info">
                    <p class="total-likes">Likes: {{ bookLikes.length || 0 }}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isLoggedIn && isOwner" id="btns">
        <button class="btn-edit" routerLink="/catalog/{{book._id}}/edit">Edit</button>
        <button class="btn-delete" (click)="deleteBook()">Delete</button>
    </div>
</div>