<section id="app-contacts">
    <div id="contacts-info">
        <div>
            <i class="fa-solid fa-map-location-dot"></i>
            <h3>Address</h3>
            <p>Sofia, Mladost 1 district,</p>
            <p>Jerusalem Str. 8</p>
        </div>
        <div>
            <i class="fa-solid fa-clock"></i>
            <h3>Work Time</h3>
            <p>10:00 AM - 08:00 PM</p>
            <p>No day off</p>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <h3>Contacts</h3>
            <p>+359 898 50 30 40</p>
            <p>office@bookshelf.com</p>
        </div>
    </div>
    
    <div id="app-map">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.1289738271976!2d23.37570697661411!3d42.65862221618626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8687d1fec935%3A0xbc5b3945502e82a0!2sMladost%201Mladost%2C%20ul.%20%22Jerusalem%22%208%2C%201750%20Sofia!5e0!3m2!1sen!2sbg!4v1709632442335!5m2!1sen!2sbg"
        width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>