<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Create an account:</p>
        </div>

        <form class="input-fields" [formGroup]="form" (ngSubmit)="register()">
            <label>Username</label>
            <input
            type="text"
            name="firstName"
            placeholder="Enter your username"
            formControlName="username"
            />

            

            <button type="submit">Create account</button>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </form>
    </div>
</div>