<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Create an account:</p>
        </div>

        <form class="input-fields" [formGroup]="form" (ngSubmit)="register()">
            <label>Username</label>
            <input
            type="text"
            name="firstName"
            placeholder="Enter your username"
            formControlName="username"
            />

            <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
                <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">Username must be at least 3 characters!</p>
            </ng-container>

            <label>Photo</label>
            <input
            type="url"
            name="photo"
            placeholder="Enter your photo"
            formControlName="photo"
            />

            <ng-container *ngIf="form.get('photo')?.touched">
                <p class="error" *ngIf="form.get('photo')?.errors?.['required']">Photo is required!</p>
            </ng-container>

            <label>City</label>
            <input
            type="text"
            name="city"
            placeholder="Enter your city"
            formControlName="city"
            />

            <ng-container *ngIf="form.get('city')?.touched">
                <p class="error" *ngIf="form.get('city')?.errors?.['required']">City is required!</p>
            </ng-container>

            <label>Email</label>
            <input
            type="email"
            name="email"
            placeholder="Enter your email"
            formControlName="email"
            />

            <ng-container formGroupName="passGroup">
                <label>Password</label>
                <input
                type="password"
                name="password"
                placeholder="Enter your password"
                formControlName="password"
                />

                <label>Repeat password</label>
                <input
                type="password"
                name="rePassword"
                placeholder="Repeat your password"
                formControlName="rePassword"
                />
            </ng-container>

            <button type="submit">Create account</button>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </form>
    </div>
</div>