<div class="app-header">
    <div class="app-logo">
        <a href="">
            <img src="" alt="bookshelf-logo">
        </a>
    </div>

    <div class="app-navigation">
        <nav>
            <ul class="menu">
                <li class="current-page">
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Catalog</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contacts</a>
                </li>
                <li>
                    <a href="">Register</a>
                </li>
                <li class="login">
                    <a href="">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</div> 