<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Add Book</p>
        </div>

        <form class="input-fields" #form="ngForm" ngSubmit="addBook(form)">
            <label>Title</label>
            <input
            type="text"
            placeholder="Enter book title"
            #inputTitle="ngModel"
            ngModel
            />

            <label>Cover</label>
            <input
            type="text"
            placeholder="Enter book cover"
            #inputCover="ngModel"
            ngModel
            />

            <label>Author</label>
            <input
            type="text"
            placeholder="Enter book author"
            #inputAuthor="ngModel"
            ngModel
            />

            <label>Pages</label>
            <input
            type="text"
            placeholder="Enter book pages"
            #inputPages
            />

            <label>Price</label>
            <input
            type="text"
            placeholder="Enter book price"
            #inputPrice="ngModel"
            ngModel
            />

            
        </form>
    </div>
</div>