<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Add Book</p>
        </div>

        <form class="input-fields" #form="ngForm" ngSubmit="addBook(form)">
            <label>Title</label>
            <input
            type="text"
            placeholder="Enter book title"
            #inputTitle="ngModel"
            ngModel
            />

            <label>Cover</label>
            <input
            type="text"
            placeholder="Enter book cover"
            #inputCover="ngModel"
            ngModel
            />

            
        </form>
    </div>
</div>