<section id="hero-image">
    <div id="banner-text">
        <h1>Do you have a favorite book?</h1>
        <p>Find it among the hundreds of titles in our catalog</p>
        <button id="catalog-btn">
            <a href="">Go to catalog</a>
        </button>
    </div>
</section>

<main id="main-div">
    <h1>Recently Added</h1>
    <div>
        <img src="https://m.media-amazon.com/images/I/81m-yfhwlfL._AC_UF1000,1000_QL80_.jpg" alt="1984">
        <h1>1984</h1>
        <p>Author: George Orwell</p>
        <p>Price: $13.00</p>
    </div>
    <div>
        <img src="https://cdn.waterstones.com/bookjackets/large/9781/8389/9781838930509.jpg" alt="Pachinko">
        <h1>Pachinko</h1>
        <p>Author: Min Jin Lee</p>
        <p>Price: $15.00</p>
    </div>
    <div>
        <img src="https://images.penguinrandomhouse.com/cover/9780451529701" alt="The Count of Monte Cristo">
        <h1>The Count of Monte Cristo</h1>
        <p>Author: Alexandre Dumas</p>
        <p>Price: $16.00</p>
    </div>
</main>