<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Registration</p>
        </div>

        <div class="input-fields">
            <p>Create an account:</p>
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            <input type="url" placeholder="Photo">
            <input type="text" placeholder="City">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Repeat password">

            <button type="submit">Create account</button>
            <p>Already have an account? <a href="">Login</a></p>
        </div>
    </div>
</div>