<footer id="app-footer">
    <div id="footer-menu">
        <h3><i class="fa-solid fa-book"></i> Bookshelf</h3>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Catalog</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
    <div id="footer-contacts">
        <h3><i class="fa-solid fa-headset"></i> Contacts</h3>
        <p>Phone: <strong>+359 898 50 30 40</strong></p>
        <p>Email: <strong>office@bookshelf.com</strong></p>
        <p>Address: <strong>Mladost 1, Jerusalem Str. 8</strong></p>
    </div>
    <div id="footer-social">
        <h3><i class="fa-solid fa-share-nodes"></i> Follow us</h3>
        <ul id="social-icons">
            <li class="social-icon">
                <a href="https://bg-bg.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook-f"><span>Facebook</span></i>
                </a>
            </li>
            <li class="social-icon">
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"><span>Instagram</span></i>
                </a>
            </li>
            <li class="social-icon">
                <a href="https://twitter.com/?lang=bg" target="_blank">
                    <i class="fa-brands fa-x-twitter"><span>X (Twitter)</span></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="info">
        <div id="footer-logo">
            <img src="" alt="bookshelf-logo">
        </div>
        <div id="footer-copyright">
            <p>&copy; 2024 Bookshelf</p>
            <p>All rights reserved.</p>
        </div>
    </div>
</footer> 