<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Log in to your account:</p>
        </div>
    
        <form class="input-fields" #form="ngForm" (ngSubmit)="login(form)">
            <label>Email</label>
            <input 
            type="email"
            name="email"
            placeholder="Enter your email"
            ngModel
            #inputEmail="ngModel"
            required
            [appEmail]="domains"
            />

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid!</p>
            </ng-container>

            <label>Password</label>
            <input
            type="password"
            name="password"
            placeholder="Enter your password"
            ngModel
            #inputPassword="ngModel"
            required
            minlength="4"
            />

            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least 4 characters!</p>
            </ng-container>

            <button>Login</button>
            <p>New user? <a routerLink="/register">Create an account</a></p>
        </form>
    </div>
</div>