<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Log in to your account:</p>
        </div>
    
        <form class="input-fields" #form="ngForm" (ngSubmit)="login(form)">
            <label>Email</label>
            <input 
            type="email"
            name="email"
            placeholder="Enter your email"
            ngModel
            #inputEmail="ngModel"
            required>

            

            <label>Password</label>
            <input
            type="password"
            name="password"
            placeholder="Enter your password"
            ngModel
            #inputPassword="ngModel"
            required>
            <p class="error">Password is required!</p>

            <button>Login</button>
            <!-- (click)="login($event, inputEmail.value, inputPassword.value)" -->

            <p>New user? <a routerLink="/register">Create an account</a></p>
        </form>
    </div>
</div>