<section id="hero-image">
    <div id="banner-text">
        <h1>Do you have a favorite book?</h1>
        <p>Find it among the hundreds of titles in our catalog</p>
        <button id="catalog-btn">
            <a routerLink="/catalog">Go to catalog</a>
        </button>
    </div>
</section>

<main id="main-div">
    <h1>Recently Added</h1>
    <div *ngFor="let book of latestBooks">
        <img src={{book.cover}} alt={{book.title}}>
        <h1>{{book.title}}</h1>
        <p><span>Author:</span> {{book.author}}</p>
        <p><span>Price:</span> {{book.price}}</p>
        <button class="details-btn">Details</button>
    </div>
</main>