.main-div {
    background-image: url('https://www.realsimple.com/thmb/KrGb42aamhHKaMzWt1Om7U42QsY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/great-books-for-anytime-2000-4ff4221eb1e54b659689fef7d5e265d5.jpg');
    /* background-image: url('https://static.independent.co.uk/2023/09/14/14/books%20.jpg?quality=75&width=1200&auto=webp'); */
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 40px 70px;
    gap: 30px;
    box-shadow: 0 0 100px #000000;
    max-width: 35%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.links > a {
    text-decoration: none;
    color: #808080;
}

.input-fields {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-fields > p {
    color: #010048;
}

.input-fields > p > a {
    text-decoration: none;
    color: #E779ED;
    font-weight: bold;
}

.input-fields > input {
    border: 1px solid #010048;
    border-radius: 30px;
    padding: 13px;
}

.input-fields > button {
    background-color: #E779ED;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 30px;
    box-shadow: 0 0 8px #808080;
    cursor: pointer;
}