<div class="main-div">
    <div class="form">
        <div class="links">
            <p class="not-active">Log In</p>
            <a href="signup.html">Sign Up</a>
        </div>
    
        <div class="input-fields">
            <p>Log in to your account:</p>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Repeat password">
            <button type="submit">Log In</button>
            <p>New user? <a href="signup.html">Create an account</a></p>
        </div>
    </div>
</div>