<div id="profile">
    <h1>Welcome, Peter!</h1>
    <div id="user">
        <div id="user-img">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="profile-pic">
        </div>
        <div id="user-info">
            <h3><i class="fa-regular fa-address-book"></i> Full Name</h3>
            <p>Peter Petrov</p>
            <h3><i class="fa-solid fa-earth-americas"></i> Location</h3>
            <p>Sofia</p>
            <h3><i class="fa-regular fa-envelope"></i> Email</h3>
            <p>peter@gmail.com</p>
        </div>
    </div>
</div>