<div id="profile">
    <h1>Welcome, Peter!</h1>
    <div id="user">
        <div id="user-img">
            <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt="profile-pic">
        </div>
        <div id="user-info">
            <h3><i class="fa-regular fa-user"></i> Full Name</h3>
            <p>Peter Petrov</p>
            <h3><i class="fa-solid fa-earth-americas"></i> Location</h3>
            <p>Sofia</p>
            <h3><i class="fa-regular fa-envelope"></i> Email</h3>
            <p>peter@gmail.com</p>
        </div>
    </div>
</div>