<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Add Book</p>
        </div>

        <div class="input-fields">
            <input type="text" placeholder="Title">
            <input type="text" placeholder="Author">
            <input type="text" placeholder="Year">
            <input type="text" placeholder="Pages">
            <input type="text" placeholder="Price">
            <textarea id="description" rows="4" cols="50" placeholder="Description"></textarea>

            
            <button type="submit">Add</button>
        </div>
    </div>
</div>