<header id="app-header">
    <div id="app-logo">
        <a href="">
            <img src="" alt="bookshelf-logo">
        </a>
    </div>

    <div id="app-navigation">
        <nav>
            <ul id="menu">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/catalog">Catalog</a>
                </li>
                <li>
                    <a routerLink="/add-book">Add Book</a>
                </li>
                <li>
                    <a routerLink="/contacts">Contacts</a>
                </li>
                <li>
                    <a routerLink="/profile">Profile</a>
                </li>
                <li id="register">
                    <a routerLink="/register">Register</a>
                </li>
                <li class="log-in-out">
                    <a routerLink="/login">Login</a>
                </li>
                <li class="log-in-out">
                    <a href="">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header> 