#app-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #010048;
}

#menu {
    display: flex;
    padding: 20px;
}

.general > li,
.guest > li,
.user > li {
    display: inline-block;
    list-style: none;
    padding: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#app-logo > a > p {
    text-transform: none;
    font-size: 2.5rem;
}

#register > a,
.log-in-out > a {
    border-radius: 15px;
    padding: 8px 15px;
}

#register > a {
    background-color: #ffffff;
    color: #010048;
}

.log-in-out > a {
    background-color: #E779ED;
}