<div id="main-div">
    <div id="form">
        <div id="heading">
            <p>Edit Book:</p>
        </div>

        <form class="input-fields" [formGroup]="form" (ngSubmit)="editBook()">
            <label>Title</label>
            <input
            type="text"
            name="title"
            placeholder="Enter book title"
            [value]="bookDetails.title"
            formControlName="title"
            />

            <ng-container *ngIf="form.get('title')?.touched">
                <p class="error" *ngIf="form.get('title')?.errors?.['required']">The field is required!</p>
                <p class="error" *ngIf="form.get('title')?.errors?.['minlength']">The book name must be at least 3 characters long!</p>
            </ng-container>

            <label>Cover</label>
            <input
            type="text"
            name="cover"
            placeholder="Enter book cover"
            [value]="bookDetails.cover"
            formControlName="cover"
            />

            <ng-container *ngIf="form.get('cover')?.touched">
                <p class="error" *ngIf="form.get('cover')?.errors?.['required']">The field is required!</p>
            </ng-container>

            <label>Author</label>
            <input
            type="text"
            name="author"
            placeholder="Enter book author"
            [value]="bookDetails.author"
            formControlName="author"
            />

            <ng-container *ngIf="form.get('author')?.touched">
                <p class="error" *ngIf="form.get('author')?.errors?.['required']">The field is required!</p>
                <p class="error" *ngIf="form.get('author')?.errors?.['minlength']">The author name must be at least 3 characters long!</p>
            </ng-container>

            <label>Pages</label>
            <input
            type="text"
            name="pages"
            placeholder="Enter book pages"
            [value]="bookDetails.pages"
            formControlName="pages"
            />

            <ng-container *ngIf="form.get('pages')?.touched">
                <p class="error" *ngIf="form.get('pages')?.errors?.['required']">The field is required!</p>
            </ng-container>

            <label>Price</label>
            <input
            type="text"
            name="price"
            placeholder="Enter book price"
            [value]="bookDetails.price"
            formControlName="price"
            />

            <ng-container *ngIf="form.get('price')?.touched">
                <p class="error" *ngIf="form.get('price')?.errors?.['required']">The field is required!</p>
            </ng-container>

            <label>Description</label>
            <textarea
            id="description"
            name="description"
            rows="4"
            cols="50"
            placeholder="Enter book description"
            [value]="bookDetails.description"
            formControlName="description"
            ></textarea>

            <ng-container *ngIf="form.get('description')?.touched">
                <p class="error" *ngIf="form.get('description')?.errors?.['required']">The field is required!</p>
                <p class="error" *ngIf="form.get('description')?.errors?.['minlength']">The description must be at least 10 characters long!</p>
            </ng-container>

            <button type="submit">Edit</button>
        </form>
    </div>
</div>